.flex_container-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  color: var(--color-main);
  align-items: center;
}

.flex_container-contact > * {
  flex: 1;
  max-width: 500px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.flex-item_contact-2 img {
  max-width: 600px;
  width: 100%;
  max-height: 600px;
}

.flex_container-contact p {
  margin: 0 10%;
}

.flex-item_contact-1 h2 {
  margin-top: 1rem;
}
