



.hero_index {
    color: white;
    background: url(../images/vr-image-gradient.png);
    background-position: center;
    background-size: cover;
    height: 460px;
    background-blend-mode: multiply;
    font-family: var(--text-heading);
    
} 
  
  .hero_index h1 {
    width: 320px;
    height: 64px;
    margin: 44px auto;
    font-size: 1rem;
    font-weight: 700;
  }

.home-page__read-more {
    background-color: var(--color-main);
    color: white;
    text-align: left;
    padding-top: 31px;
    padding-bottom: 70px;
  }
  


  .text_special-events {
    color: var(--color-main);
    text-decoration: underline;
  }