@media (min-width: 800px) {
  
  .header__nav-container {
    margin: 0 71px 31px 71px;
  }

 .header__nav-menu {
    display: flex;
    align-items: center;
    background: none;
    position: static;
      }
  
  .header__nav-menu a:hover {
    text-decoration: underline;
  }
      
.header__nav-menu a {
        font-family: var(--text-heading);
        color: var(--color-main);
        font-weight: 700;
        font-size: 1.75rem;
      }

.logo__text {
  font-weight: 700;
}

.hamburger-menu {
    display: none;
}




/* Index */
.index_mobile {
  display: none;
}

.index_desktop {
  display: flex;
  flex-direction: row;
  height: 910px;
  margin: 0 71px;
  gap: 0;
}

.index_explore {
  flex: 1;
  color: white;
  background-color: var(--color-main);
  font-size: 1.313rem;
  display: flex;
  
  
}

.index_hero-content {
  margin: 99px 88px 260px 88px;
  max-width: 400px;
  align-self: center;
}

.hero_index {
  flex: 1;
  width: 100%;
  max-width: 100%;
  height: 100%;
  
}

/* Explore */

/* Expo */


}