@import "../css/imports/links.css";
@import "../css/imports/variables.css";

/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
a {
  font-family: var(--text-heading);
  text-transform: capitalize;
}

p,
li,
ul {
  font-family: var(--text-paragraph);
}

p {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
}

h2,
h3 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* header */

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  flex: 1;
  font-weight: 700;
}

.logo__text-museum {
  color: var(--color-main);
}

.header__nav-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 25px 32px 25px;
  justify-content: space-between;
}

.header__nav-menu,
#menu-checkbox {
  display: none;
  list-style: none;
}

#menu-checkbox:checked ~ .header__nav-menu {
  display: block;
  left: 0%;
}

.header__nav-menu {
  height: 50vh;
  width: 100%;
  position: fixed;
  background: var(--color-white);
  top: 4.7rem;
  left: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.7s;
  gap: 2rem;
  margin-top: 1rem;
}

.header__nav-menu .active {
  color: var(--color-orange);
}

.fa-solid,
.fas {
  color: var(--color-main);
  font-size: 30px;
}

/* Grid */

.grid_container {
  background: linear-gradient(168deg, var(--color-main), #fc826aba);
  color: var(--color-white);
  display: flex;
  padding: 2rem;
  border-radius: 7px;
  align-items: center;
  margin-top: 3rem;
}

.grid_header {
  grid-row: 1 / 3;
  grid-column: 11 / 17;
  z-index: 1;
  text-transform: uppercase;
  color: var(--color-main);
  font-size: 2.5rem;
  padding: 10px;
  align-self: center;
}

.grid_header-reverse {
  grid-row: 1 / 3;
  grid-column: 1 / 7;
  z-index: 1;
  text-transform: uppercase;
  background-color: var(--color-white);
  color: var(--color-main);
  font-size: 2.5rem;
  padding: 10px;
  align-self: center;
  border: var(--color-main) 1px solid;
}

.grid_container-text {
  grid-row: 1 / 5;
  grid-column: 2 / 10;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

.grid_container-text h3,
.grid_container-text-reverse h3 {
  padding: 1rem;
  font-size: 1.3rem;
}

.grid_container-text-reverse {
  grid-row: 1 / 5;
  grid-column: 8 / 16;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}

.grid_container-hero {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 85px);
}

.grid_container-hero h1 {
  color: white;
  background-color: var(--color-orange);
  text-transform: uppercase;
  grid-column: 1 / 8;
  grid-row: 1 / 3;
  z-index: 1;
  font-size: 2rem;
  align-self: center;
}

.grid_header-orange {
  color: var(--color-orange);
}

#grid_container-hero-blue {
  background-color: var(--color-main);
}

/* images */

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  max-height: 360px;
}

.img__logo {
  height: 75px;
  flex: 1;
}

.img_grid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  max-height: 360px;
}

.img_grid-reverse {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  max-height: 338px;
}

.img_hero-main {
  grid-row: 1 / 5;
  grid-column: 1 / 9;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  border-radius: 0;
}

/* Footer */

footer {
  background-color: var(--color-main);
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

footer h3 {
  font-size: 1.2rem;
}

.footer_container {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
}

.footer_hours {
  flex-grow: 1;
  flex-basis: 100%;
}
.footer_location {
  flex-grow: 1;
  flex-basis: 100%;
}
.footer_button {
  flex-grow: 1;
  flex-basis: 100%;
}

.footer_container h3 {
  margin-bottom: 1rem;
  text-align: justify;
}

/* Explore */

.img_hero-explore {
  grid-row: 1 / 5;
  grid-column: 3 / 18;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
