@import "../css/imports/links.css";
@import "../css/imports/variables.css";

/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
a {
  font-family: var(--text-heading);
  text-transform: capitalize;
}

p,
li {
  font-family: var(--text-paragraph);
}

p {
  text-align: justify;
  line-height: 1.5;
}

h2,
h3 {
  text-align: center;
}

body {
  margin: 0;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

main > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section > * {
  margin: 0px 35px;
}



.card_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.grid_container {
  background-color: var(--color-main);
  color: white;
  padding-top: 31px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid_container p {
  font-size: 16px;
  text-align: justify;
}

.grid_container h3 {
  font-size: 21px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.text__color-orange {
  color: #FC826A;
}

img {
  display: block;
}

.img_large {
  margin-top: 60px;
  width: 358px;
}

.img_news {
  margin-top: 52px;
  width: 358px;
  height: 244px;
}

header {

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;

}

.logo {
  display: flex;
  align-items: center;
}

.img__logo {
  height: 75px;
  flex: 1;
}

.logo__text {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  flex: 1;
}

.logo__text-museum {
  color: var(--color-main);
}

.header__nav-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 25px 32px 25px;
  justify-content: space-between;
}

.header__nav-menu,
#menu-checkbox {
  display: none;
  list-style: none;
}

#menu-checkbox:checked ~ .header__nav-menu {
  display: block;
}

.header__nav-menu {
  position: absolute;
  background: var(--color-main);
  top: 55px;
  right: 0px;
}

.header__nav-menu a {
  display: block;
  color: white;
  font-family: var(--text-paragraph);
  padding: 10px 20px;
}

.fa-solid,
.fas {
  color: var(--color-main);
  font-size: 30px;
}



.footer_container {
  background-color: var(--color-main);
  color: white;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
 
}

.footer_hours {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: span 2;

}

.footer_location {
  grid-column-start: 5;
  grid-row-start: 1;
}

.footer_container a {
  grid-column-start: 5;
  grid-row-start: 2;
}

footer h3 {
  text-align: left;
}
