.hero_visit {
    color: white;
    background: url(../images/visit-img.jpg);
    background-position: center;
    background-size: cover;
    height: 460px;
    background-blend-mode: multiply;
    font-family: var(--text-heading);
    font-size: 16px;
    font-weight: 700;
}

.hero_visit h1 {
    margin-top: 186px;
}