.button {

box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
padding: 30px 13px;
gap: 12px;


background: #2F4FAA;
border-radius: 7px;
color: white;

width: 225px;
height: 53px;

font-family: var(--text-paragraph);
font-size: 21px;
font-weight: 700;
line-height: 25px;

text-align: center;
border: none;
margin: 20px 0;
align-self: center;
}

.button-border {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 28px 11px;
}

.button_small {
    width: 139px;
height: 58px;
}